* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

/* css of navtop  */

.Navtop {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #9d4f02;
    padding: 0.5rem;
}

.Navtop_items1 {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.1rem;
}

.Navtop_items1 p {
    padding: 0.5rem 0 0.5rem 0;
}

.Navtop_items1 p:hover {
    border-right: 1px solid black;

}


.Navtop_items2 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Navtop_items2 a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    padding: 0.5rem 0.32rem 0.5rem 0
}

.Navtop_items2 a:hover {
    border-right: 1px solid black;
}

.Navtop_items2 img {
    width: 83px;
    margin: 6px 7px;
}

.image_box {
    box-shadow: 0 0 5px #00000030;
    width: 96px;
    height: 42px;
    background-color: white;
    border-radius: 3px;
}

/* css of navbar  */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 0;
    gap: 8rem;
}

.navitems a {
    text-decoration: none;
    color: black;
    margin-left: 1.2rem;
    font-size: 1.1rem;
}

/* css of herosection  */
.herosection {
    overflow: hidden;
    position: relative;
    height: 34rem;
}

.hero {
    display: flex;
    position: absolute;
    animation: forwards;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes hero {
    0% {
        left: 0;
    }

    100% {
        left: -100rem;
    }
}

/* css of Form  */

form {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-color: #9d4f02;
    width: 1200px;
    height: 70px;
    margin: auto;
    transform: translate(0px, -100px);
    border-radius: 0 0 5px 5px;

}

.origin_des {
    outline: none;
    border: none;
    padding: 0.5rem 3rem;
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
}

.origin_des1 {
    padding: 0.8rem 3rem;
}

.origin {
    border: 2px solid white;
    background-color: white;
}

.search_form {
    background-color: black;
    color: white;
    padding: 0.8rem 5rem;
}

/* css of cards */
.container {
    width: 100%;
    height: 400px;
}

.container h1 {
    text-align: center;
    color: rgb(252, 28, 28);
    margin-bottom: 2rem;
}

.cards {
    display: flex;
    width: 68rem;
    height: 334px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.card_animation {
    display: flex;
    width: 68rem;
    height: 334px;
    position: relative;
    animation-name: cards;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.row img {
    width: 18rem;
}

.row p {
    display: flex;
    width: 12rem;
    height: 45px;
    font-size: 1.2rem;
    border: 2px solid;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    transform: translate(3rem, -6rem);
}

.row p:hover {
    background-color: white;
    color: black;
}

@keyframes cards {
    0% {
        left: 0;
    }

    14.5% {
        left: -17rem;
    }

    29% {
        left: -34rem;
    }

    43.5% {
        left: -51rem;
    }

    58% {
        left: -68rem;
    }

    72.5% {
        left: -85rem;
    }

    87% {
        left: -102rem;
    }

    100% {
        left: -119rem;
    }
}

/* css of container1  */
.container1 {
    width: 100%;
    height: 500px;
    background-color: #9d4f02;
    margin-top: 2rem;
}

.container1 h1 {
    text-align: center;
    color: white;
    padding-top: 4rem;
    font-size: 2.5rem;
}

.grid {
    display: grid;
    grid-template-rows: repeat(3, 92px);
    grid-template-columns: repeat(3, 363px);
    margin: 2.5rem 14rem;
}

.card1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 0 5px white;
    background-color: white;
    width: 328px;
    height: 69px;
    padding: 0 1.2rem;
    color: red;
}

.card1:hover {
    background-color: rgb(255, 208, 0);
    color: black;
}

/* css of container2  */
.container2 {
    background-image: url("assets/offer-bg.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 130px;
}

.container2 img {
    margin-top: 2.8rem;
}

/* css of container3  */
.container3 h2 {
    text-align: center;
    margin: 2rem 0rem;
}

.c3_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.c3_row {
    width: 171px;
    height: 190px;
}

.c3_row img {
    padding: 1.3rem 2rem;
    border-left: 12px solid #0a0a78;
    border-radius: 0 4rem 0 4rem;
    border-right: 2px solid #0a0a78;
}

.c3_row p {
    text-align: center;
    padding-top: 2rem;
}

/* css of testimonials  */

.testimonial {
    background-color: rgb(241, 162, 14);
    width: 100%;
    height: 400px;
    margin-top: 2rem;
}

.testimonial h1 {
    font-size: 2.7rem;
    text-align: center;
    color: white;
    padding: 1.5rem 0;
}

.testi_card_row img {
    width: 80px;
    background-color: rgb(221, 24, 24);
    border-radius: 5rem;
    margin-bottom: 1.5rem;
}

.testi_card_row {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.testi_card_row h2 {
    font-style: italic;
    font-weight: 500;
}

.test_para {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
    margin-bottom: 0.2rem;

}

.test_para i {
    background-color: rgb(240, 220, 35);
    border: 1px solid rgb(185, 160, 160);
    padding: 0.5rem;
    transition: all linear;
}

.test_para i:hover {
    border: 2px solid rgb(209, 10, 10);
}


/* css of container4  */
.container4 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}

.c4_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.gallery_img img {
    width: 250px;
    border: 3px solid #80808078;

}

.gallery_img {
    transition: all 1s linear;

}

.gallery_img:hover {
    transform: scale(1.10);
}

.c4_content_mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 5rem 0rem;
}


.c4_image img {
    height: 544px;
    width: 535px;
    border: 3px solid #80808078;
    margin-bottom: 4rem;

}

.c4_image {
    transition: all 1s linear;

}

.c4_image:hover {
    transform: scale(1.12);

}

.content_para {
    text-align: center;
    width: 372px;
    font-size: 1.2rem;
}

.content_para h1 {
    color: rgb(219, 14, 14);
    margin-bottom: 1rem;
}

.container5 {
    background-color: rgb(241, 162, 14);
    text-align: center;
    line-height: 3rem;
    width: 100%;
    height: 305px;
    padding: 2rem 0;
}

.container5 p {
    font-size: 1.5rem;
}

.container5 h1 {
    font-size: 3.6rem;
}

/* css of footer  */

.footer {
    width: 100%;
    background-color: #9d4f02;
    padding: 4rem 15rem;
    color: white;
}

.footerbox {
    display: flex;
    gap: 1rem;
    width: 70rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid white;

}

.contact {
    padding-top: 1.4rem;

}

.lpm {
    display: flex;
    gap: 1rem;
    padding-top: 8px;

}

.quicklinks {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 12px;
    padding-top: 2rem;
}

.quicklinks a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.quick_icon {
    padding-right: 0.5rem;
}

.follow_icon {
    display: flex;
    gap: 10px;
    padding-top: 2rem;
}

.followicon {
    padding: 5px;
    border-radius: 8px;
    background-color: white;
    color: rgba(0, 0, 0, 0.791);
    font-size: 1.5rem;
    cursor: pointer;
}

.foot_head {
    padding-bottom: 5px;
    border-bottom: 2.8px solid white;
}

.footer_para {
    text-align: center;
    color: white;
    margin-top: 1.5rem;
}

/* css of tracker and whatsapp fixed */
.tracker{
    background-image: url(assets/location\ img.png );
    background-position: center;
    background-repeat: no-repeat;
    width: 4rem;
    height: 4rem;
    border-radius: 3rem;
    background-color: red;
    position: fixed;
    z-index: 1;
    transform: translate(86rem,20rem);
    animation-name: track;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes track{
    0%{}

    100%{
        box-shadow: 0 0 0 0.5rem red;
    }
}

.whatsapp{
    position: fixed;
    transform: translate(92rem, 39.8rem);
    z-index: 1;
}